body {
    margin: 0;
    background-color: #8CC4FF;
    /*font-family: 'Courier New', Courier, monospace;*/
}
.header, header {
    padding: 10px;
    /*Set the height*/
    height: 30px;
    background-color: #62AEFF;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}
